@font-face {
    font-family: Segoe UI;
    src: url("fonts/segoeuisl.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Segoe UI;
    src: url("fonts/segoeuib.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Segoe UI;
    src: url("fonts/segoeuil.ttf");
    font-weight: 100;
}
