* {
    margin: 0;
    font-family: Segoe UI;
    cursor: url("Images/cursor.cur"), auto;
}

html, body {
    width: 100%; height: 100%;
}

section {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: black;
}

.main > * {
    color: white;
}

.main .centered {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .centered > * {
    padding: 0 75px;
}

.main .centered .textblock {
}

.main .centered .textblock > * {
}

.main .centered .textblock h1 {
    font-size: 40px;
    font-weight: 400;
}

.main .centered .textblock strong {
    font-size: 50px;
    font-weight: 700;
}

.main .centered .photo {
    width: 400px; height: 550px;
    background-image: url("Images/lafayette.png");
    background-size: cover;
    box-shadow: inset 0 0 150px 100px black;
}

.intro {

}

.intro > * {
    padding: 0 15px;
}

.intro .textblock {
    text-align: left;
}

.intro .textblock h1 {
    font-size: 35px;
}

.intro .textblock h2 {
    font-size: 30px;
    font-weight: 400;
}

.intro img {
    width: 700px;
}

.inspiration {

}

.inspiration > * {
    padding: 30px;
}

.inspiration .textblock {

}

.inspiration .textblock > * {
    font-size: 35px;
}

.inspiration .textblock h3 {
    font-weight: 400;
}

.inspiration img {
    width: 600px;
}

.firstbattle {

}

.firstbattle > * {
    padding: 60px;
}

.firstbattle .textblock > * {
    font-size: 35px;
}

.firstbattle .textblock h3 {
    font-weight: 400;
}

.firstbattle img {
    width: 700px;
}

.battles {

}

.battles > * {
    padding: 60px;
}

.battles .textblock > * {
    font-size: 35px;
}

.battles .textblock h3 {
    font-weight: 400;
}

.battles img {
    width: 850px;
}

.afterwar {

}

.afterwar > * {
    padding: 30px;
}

.afterwar .textblock > * {
    font-size: 35px;
}

.afterwar .textblock h3 {
    font-weight: 400;
}

.afterwar img {
    width: 850px;
}

.death {

}

.death > * {
    padding: 30px;
}

.death .textblock > * {
    font-size: 35px;
}

.death .textblock h3 {
    font-weight: 400;
}

.death img {
    width: 500px;
}
